<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
    <title>{% block title_block %}base{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}" class="navbar-brand">Brand</a></li>
                <li><a href="{% url 'admin:index' %}" class="navbar-link">Admin</a></li>
                <li><a href="{% url 'first_app:other' %}" class="navbar-link">Other</a></li>
                <li><a href="{% url 'first_app:register' %}" class="navbar-link">Register</a></li>
            </ul>

            <ul class="nav navbar-right navbar-nav">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="navbar-link">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'first_app:user_login' %}" class="navbar-link">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <div class="container">
        {% block body_block %}
        <!-- anything outside will be inherited -->
        {% endblock %}
    </div>
</body>
</html>